sudo: false
language: ruby
rvm:
  - 2.2.4
before_install: gem install bundler -v 1.13.6

install:
  - cd workflow_rb
  - bundle
  - cd ..
  - cd workflow_rb-db
  - bundle
  - cd ..
  - cd workflow_rb-mongo
  - bundle
  - cd ..


    
script:
  - cd workflow_db
  - rake
  - cd ..
  - cd workflow_db-db
  - rake
  - cd ..
  - cd workflow_db-mongo
  - rake
  - cd ..
